@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('YanoneKaffeesatz-Bold.eot');
    src: local('Yanone Kaffeesatz Bold'), local('YanoneKaffeesatz-Bold'),
        url('YanoneKaffeesatz-Bold.eot?#iefix') format('embedded-opentype'),
        url('YanoneKaffeesatz-Bold.woff2') format('woff2'),
        url('YanoneKaffeesatz-Bold.woff') format('woff'),
        url('YanoneKaffeesatz-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('YanoneKaffeesatz-ExtraLight.eot');
    src: local('Yanone Kaffeesatz ExtraLight'), local('YanoneKaffeesatz-ExtraLight'),
        url('YanoneKaffeesatz-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('YanoneKaffeesatz-ExtraLight.woff2') format('woff2'),
        url('YanoneKaffeesatz-ExtraLight.woff') format('woff'),
        url('YanoneKaffeesatz-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('YanoneKaffeesatz-Light.eot');
    src: local('Yanone Kaffeesatz Light'), local('YanoneKaffeesatz-Light'),
        url('YanoneKaffeesatz-Light.eot?#iefix') format('embedded-opentype'),
        url('YanoneKaffeesatz-Light.woff2') format('woff2'),
        url('YanoneKaffeesatz-Light.woff') format('woff'),
        url('YanoneKaffeesatz-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('YanoneKaffeesatz-Regular.eot');
    src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'),
        url('YanoneKaffeesatz-Regular.eot?#iefix') format('embedded-opentype'),
        url('YanoneKaffeesatz-Regular.woff2') format('woff2'),
        url('YanoneKaffeesatz-Regular.woff') format('woff'),
        url('YanoneKaffeesatz-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

